

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 2;
    background-color: white;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */

    &__logo {
        border: black 2px solid;
        border-radius: 50%;
        height: 2.5rem;
        aspect-ratio: 1/1;
    }

    &__nav, .nav__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}