.tech-stack {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: 1rem;
}

.github-badge > a {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap : 1rem;
    align-items: center;
}

.description, .description_2 {
    margin-top: 5rem;
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;

    &__text {
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: 
        ellipsis;
        width: 30%;
        align-self: center;

    }
    &__image {
        width: auto;
        height: 25rem;
        object-fit: cover;
    }
}
